.sharethis-wrapper span, .sharethis-wrapper a {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 7px;
  background-repeat: no-repeat;
}
.sharethis-wrapper span:last-child, .sharethis-wrapper a:last-child {
  margin-right: 0;
}
.sharethis-wrapper span:hover, .sharethis-wrapper a:hover {
  cursor: pointer;
}
.st_facebook_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/facebook.png");
}
.st_twitter_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/twitter.png");
}
.st_linkedin_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/linkedin.png");
}

.st_email_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/email.png");
}
.st_email_custom:hover {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/email-h.png");
}

.st_print_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/print.png");
}
.st_print_custom:hover {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/print-h.png");
}

.st_pdf_custom {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/pdf.png");
}
.st_pdf_custom:hover {
  background-image: url("http://tousprets.sports.gouv.fr/sites/default/modules/custom/sp_socialshare/libraries/socialshare_ddd/PNG/pdf-h.png");
}
